// .swiper-item {
//     height: 250px;
//     // background-color: #c3c3c3;
//     .title,
//     .love {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &-body {
//         // max-height: 50px;
//     }
   
//     &-img img{
//         height: 200px;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
//     .text-item{
//         padding: 0;
//         margin: 0;
    
//     }
//     .price-sale{
//         color:rgb(27, 178, 209);
//     }
//     .price-old{
//         text-decoration: line-through;
//     }
// }


