* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-introduce{
    width: 100%;
    padding: 100px 0px;
    background: url("./assest/images/banner-5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}